* {
  margin: 0px;
  padding: 0px;
}
.logoname {
 float: left;
 display: inline;
}
header {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 10%;
  margin-left: 5%;
  border: none;
  border-radius: 0px;
}
h1.burger {

float: left;
}
.navbar{
color: black;
padding: 0px;
flex-direction: row;
font-size: 20px;
font-weight: bold;
float: right;
display: flex;
justify-content: right;
font-family: sans-serif;
  }
#burger span {
  font-family: fantasy;
  font-size: 60px;
  display: flex;
  justify-content: left;
}
.order {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: orange;
  border-top-left-radius: 20px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 0px;
  color: white;
  font-family: sans-serif;
}
.flyburger div {
  display: flex;
  justify-content: right;
  background-color: #F6B400;
  padding
}

