* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins' ;
  
}
body {
  overflow-x: hidden;
}
.contain img {
  height: 50px;
  width: auto;
}
.contain {
  margin-left: 1%;
  padding-top: 2%;
}
.badge {
  padding-left: 10px;
  padding-right: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#lblCartCount {
  font-size: 15px;
  background: #f84802;
  color: #fff;
  padding: 0 3px;
  vertical-align: top;
  margin-left: -9px; 
}
span strong{
font-weight: bold;
font-size: 1.7em;
}
span em {
color: #F6B400;
font-size: 1.7em;
font-weight: bold;
}

#navbarSupportedContent  {
  margin-right: 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: right;
  font-size: 1.2em;
  font-weight: bold;
}
#navbarSupportedContent ul li a {
  color: black;
  
}
#navbarSupportedContent ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #f84802;
  text-decoration-thickness: 8px;
}

.fullburger img{
  height: 600px;
  width: 350px;

}
.firstp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5%;
}

.firstp .rain {
  margin-left: 3%;
  margin-top: 10%;
}
.firstp .fullburger  {
  margin-right: 20%;
  margin-bottom: 5%;
}
.firstp .rain p.shine {
  font-size: 2.5em;
  font-weight: bolder;
}
.firstp .rain p.cook {
  color: grey;
  font-weight: 500;
}
.firstp .rain button {
  background-color: #ff6600cc;
  border-radius: 25px 25px 0;
  color: white;
  padding: 12px;
  font-size: 0.85em;
  margin-bottom: 5%;
} 

.sbgc {
  background: linear-gradient(105deg, white 50%, #F6B400 50%);
  
}
.services .card {
  width: 20%;
  margin-top: 12%;
  margin-bottom: 12%;
  text-align: center;
  border-radius: 10px;
  border: 1px solid rgba(165, 42, 42, 0.767);
  font-size: 0.89em;
}
.services .card h2.sub1, .sub2, .sub3 {
  color: rgba(165, 42, 42, 0.767);
}
.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgba(216, 245, 235, 0.26);
}
.services  .service1  {
  height: 40vh;
  margin-top: 15%;
}
.services  .service2 {
  height: 50vh;
  
}
.services .service3 {
  height: 40vh;
  margin-top: 15%;
}
.menu a {
  text-decoration: none;
  
}
.menu {
  margin-top: 8%;
  margin-bottom: 3%;
  text-align: center;
  font-size: 2.5em;
}
.menu a strong.black {
  color: black;
}
.menu a strong.yellow {
  color: rgb(243, 186, 0);
}
.menu a:hover {
  text-decoration: underline;
  text-decoration-color: #f05e24;
  text-decoration-thickness: 10px;
}
.displays .card {
  width: 25%;
  text-align: center;
  max-width: 440px;
  padding: 50px 35px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 35px;
  box-shadow: 0 4px 30px rgba(0,0,0,0.1);
  backdrop-filter: blur(5px);
}
.displays .disp123, .disp456 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 6%;
}
.displays .card h2.db {
  color: rgba(165, 42, 42, 0.767);
}
.displays .note .log  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0%;
}
.displays .note .log .cat, p.catlog {
  width: 25%;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0;
  border: 1px solid rgba(145, 150, 148, 0.116);
  background-color: rgba(145, 150, 148, 0.116);
  border-radius: 10px;
}
.displays .note .log span.catlog {
  width: 25%;
  border: 1px solid rgba(145, 150, 148, 0.116);
  background-color: rgba(145, 150, 148, 0.116);
  border-radius: 10px;
}
.doubkr {
  background-color: rgba(216, 245, 235, 0.26);
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 5%;
}
.par3 {
  padding-top: 10%;
}
.par3 p.td {
  font-size: 2.5em;
  font-weight: bolder;
}
.par3 p.yd {
  font-size: 2.5em;
  font-weight: bolder;
  color: rgb(243, 186, 0);
}
.par3 p.adtst {
  color: grey;
  font-weight: 500;
}
.shapes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
  margin-left: 50%;
}
.shapes .right {
  display: flex;
  color: #f05e24;
  font-size: 35px;
  top: 0;
  bottom: 0;
}
.shapes .shape1 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #f05e24;
}
.shapes .shape2 {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #e7e1df;
}
.doubkr .images {
  position: relative;
  margin-bottom: 10%;
  margin-top: 5%;
  margin-right: 25%;
}
.dc-1 {
  position: relative;
  right: 35%;
  top: 15%;
}
.dc-1 {
  position: absolute;
}

.discover  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #F6B400;
}
.where img .google, .appstore {
  cursor: pointer;
} 
.where {
  margin-top: 15%;
  font-size: 2.5em;
  font-weight: bolder;
  margin-left: 5%;
}
.screens {
  margin-top: 10%;
  margin-right: 20%;
}
.bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(216, 245, 235, 0.26);
}
.bottom .logoname {
  margin-top: 6%;
  margin-left: 6%;
}
.bottom .map {
  margin-top: 3%;
}
.bottom .map ul li a {
  text-decoration: none;
  color: black;
  
}
.bottom .map ul li {
  list-style: none;
}
.bottom .news input {
  width: 30%;
  height: 20%;
  
}
.bottom .mwisho {
  margin-top: 5%;
  margin-right: 7%;
  font-weight: bolder;
}
footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}
footer p {
  margin-left: 5%;
}
.news button #button-addon2 {
  background-color: #f05e24;
  color: white;
}